/* The code below puts the title of the website in the center */
.title {
  text-align: center;
  color: #ffffff;
  background-size: 650px;
  background-image: url(https://assets.editorial.aetnd.com/uploads/2020/02/invasive-species-gettyimages-924231408.jpg?width=1920&height=960&crop=1920%3A960%2Csmart&quality=75&auto=webp);
  border: solid;
  font-size: 70px;
}

.im {
  size: 500px;
  flex: auto;
  border: solid;
}


/* The code below adds a white background-color and black text color for the body of the page. */
body {
  color: black;
  text-align: center;
  background-color: #65818b;

}

/* The code below adds a black background-color and white text color for each section heading. */
.section {
  color: white;
  text-align: center;
  background-color: #72744E;
  margin:15px;
  padding:15px;
}


.sub-section {
  margin: 25px;
  text-align: center;
  background-color: green;
  display: flex;
  justify-content: space-around;
}

.p1{
  text-align:center;
}

.p2{
  text-align:center;
}

.ash{
  width: 500px;
  border:solid;
}

.swine{
  width: 400px;
  border: solid;
}

.purple{
  width: 400px;
  border: solid;
}

.lionfish{
  width: 400px;
  border: solid;
}

li{
  padding: 5px;
}

p{
  padding: 5px;
  text-align: justify;
}

.sp{
  text-align: justify;
}

.steps{
  margin: 25px;
  text-align: center;
  background-color: green;
}

figcaption{
  color: white;
}